*
{
	margin: 0;
	padding: 0;
}

body
{
	background-image: linear-gradient(#5068A8,#85C4CB);
	position: relative;
}

#vision
{
	color: #fff;
}

#mission
{
	background-color: #fff;
	position: relative;
}

.image
{
	float:right;
	padding-right: 40px;
	position: relative;
	filter: drop-shadow(30px 10px 4px #4444dd);
}

.dark-blue-text
{
	color: #85C4CB;
}

.yellow-text
{
	color: #FFB923;
}

.red-text
{
	color: #E74632;
}










